$simple-black: #212529;
$dark-grey: #595d61;
$simple-grey: #768591;
$semi-grey: #cdd2d8;
$light-grey: #e8edf3;
$simple-magenta: #22264b;
$contrast-magenta: #e0e3fa;
$simple-yellow: #e6cf8b;
$simple-red: #b56969;

// Typography definitions
$typo-primary: $simple-black;
