$simple-black: #212529;
$simple-grey: #768591;
$semi-grey: #cdd2d8;
$light-grey: #e8edf3;
$simple-magenta: #22264b;
$contrast-magenta: #e0e3fa;

// Typography definitions
$typo-primary: $simple-black;
