@import './mixins';
@import './settings';

.container {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;

    &.container--no-flex {
        display: block;
        flex-wrap: nowrap;
    }

    &.container--content {
        padding: 1rem;
        margin: 0 1rem;
        max-width: $grid-content-width;
        width: calc(100% - $grid-content-gutter);

        @include mq('tablet') {
            margin: 0 auto;
        }
    }

    .w-auto {
        width: auto;
        -webkit-box-flex: 1;
        flex: 1;
    }

    [class^='w-'] {
        width: 100%;
    }

    @include mq('tablet') {
        [class*='w-'] {
            // margin: 1rem;
        }

        .w-1 {
            width: 8.333333%;
        }
        .w-2 {
            width: 16.66666%;
        }
        .w-3 {
            width: 25%;
        }
        .w-4 {
            width: 33.333333%;
        }
        .w-5 {
            width: 41.66666%;
        }
        .w-6 {
            width: 50%;
        }
        .w-7 {
            width: 58.33333%;
        }
        .w-8 {
            width: 66.66666%;
        }
        .w-9 {
            width: 75%;
        }
        .w-10 {
            width: 83.33333%;
        }
        .w-11 {
            width: 91.66666%;
        }
        .w-12 {
            width: 100%;
        }
    }
}
