@import '../../global/colors';
@import '../../global/mixins';
@import '../../global/typography';

$header-height: 90px;

.o-header {
    z-index: 20;
    height: $header-height;
    line-height: $header-height;
    background-color: $simple-magenta;
    color: $contrast-magenta;

    .o-header__brand {
        height: 60px;
        margin: 15px 15px 15px 1rem;
    }

    a {
        color: inherit;
    }

    .o-header__main-navigation {
        a {
            @include border-radius(99px);
            @include transition(all, 0.3s, ease-in-out);
            padding: 0.5rem 0.875rem;
            text-transform: uppercase;
            font-weight: 700;

            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }
        }
    }

    .o-header__meta-navigation {
        float: right;

        a {
            display: inline-block;
        }

        .a-icon {
            @include font-size(1.5);
            @include border-radius(99px);
            @include transition(all, 0.15s, ease-in-out);
            border: 2px solid $contrast-magenta;
            display: inline-block;
            width: 42px;
            height: 42px;
            line-height: 38px;
            background-color: transparent;
            border-color: $contrast-magenta;
            color: $contrast-magenta;

            &:hover {
                color: $simple-magenta;
                background-color: $contrast-magenta;
            }
        }
    }

    &.o-header--sticky {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
    }
}

@include mq('tablet') {
    .state-o-header--sticky {
        margin-top: $header-height;
    }
}
