@import '../button/button';

.m-button-group {
    display: block;
    overflow: hidden;

    .a-button {
        float: left;
        margin: 0;
        border-radius: 0;

        &:hover {
            transform: none;
        }

        &:first-of-type {
            @include border-radii($button-border-radius, 0, 0, $button-border-radius);
        }

        &:last-of-type {
            @include border-radii(0, $button-border-radius, $button-border-radius, 0);
        }
    }
}
